<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="Description ">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<title>Registro Centro Democrático</title>
	<!-- CSS -->
	<link rel="stylesheet" href="css/vendor/normalize.css">
	<link rel="stylesheet" href="css/vendor/foundation.min.css">
	<link rel="stylesheet" href="css/main.css">
	<!-- TOP SCRIPTS -->
	<script src="script/jquery_2.1.0_min.js"></script>
	<script src="script/modernizr.js"></script>

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!-- - - - - - -->
	<script></script>
	<style></style>

</head>
<body>
	<!-- - - - - - - -->
	<!-- INIT -->
	<header>
		<div class="logo">
			<img src="images/logo.jpg" alt="">
		</div>
	</header>

	<div class="row">
		<div class="small-12 medium-12 large-12 columns">
			<div class="ContentForm">
				<div class="titlleBox">
					<h4>Registro Nuevos Miembros</h4>
				</div>
				<div class="stepWrap2">
					<div class="step">
						<div class="stepNum">
							<img src="images/step.png" height="55" width="55" alt="">
						</div>
						<div class="stepTxt">Registro</div>
					</div>
					<div class="step">
						<div class="stepNum">
							<img src="images/step.png" height="55" width="55" alt="">
						</div>
						<div class="stepTxt">Registro</div>
					</div>
					<div class="step">
						<div class="stepNum active">
							<img src="images/step.png" height="55" width="55" alt="">
						</div>
						<div class="stepTxt">Confirmación de datos</div>
					</div>
					
				</div>
				<div class="clear30"></div>
				<!-- /* * * * DATOS * * * */ -->
				<div class="dataWrap">

					<div class="row">
						<div class="small-12 medium-8 large-8 medium-offset-2 large-offset-2 columns">
							<div class="itemData">
								<div class="small-12 medium-6 large-6 columns"><strong>Nombre:</strong></div>
								<div class="small-12 medium-6 large-6 columns">Andres</div>
							</div>
							<div class="itemData">
								<div class="small-12 medium-6 large-6 columns"><strong>Apellidos:</strong></div>
								<div class="small-12 medium-6 large-6 columns">amet adispiscing</div>
							</div>
							<div class="itemData">
								<div class="small-12 medium-6 large-6 columns"><strong>Cédula de Ciudadania:</strong></div>
								<div class="small-12 medium-6 large-6 columns">1012548645</div>
							</div>
							<div class="itemData">
								<div class="small-12 medium-6 large-6 columns"><strong>Género:</strong></div>
								<div class="small-12 medium-6 large-6 columns">Masculino</div>
							</div>
							<div class="itemData">
								<div class="small-12 medium-6 large-6 columns"><strong>Fecha de nacimiento:</strong></div>
								<div class="small-12 medium-6 large-6 columns">2014 - 12 - 12</div>
							</div>

							<div class="itemData">
								<div class="small-12 medium-6 large-6 columns"><strong>Correo electrónico:</strong></div>
								<div class="small-12 medium-6 large-6 columns">andres@ejemplo.com</div>
							</div>
							<div class="itemData">
								<div class="small-12 medium-6 large-6 columns"><strong>Celular:</strong></div>
								<div class="small-12 medium-6 large-6 columns">3105432198</div>
							</div>
							<div class="itemData">
								<div class="small-12 medium-6 large-6 columns"><strong>Teléfono:</strong></div>
								<div class="small-12 medium-6 large-6 columns">7894561</div>
							</div>
							<div class="itemData">
								<div class="small-12 medium-6 large-6 columns"><strong>País:</strong></div>
								<div class="small-12 medium-6 large-6 columns">Lorem</div>
							</div>
							<div class="itemData">
								<div class="small-12 medium-6 large-6 columns"><strong>Departamento:</strong></div>
								<div class="small-12 medium-6 large-6 columns">Ipsum</div>
							</div>
							<div class="itemData">
								<div class="small-12 medium-6 large-6 columns"><strong>Municipio:</strong></div>
								<div class="small-12 medium-6 large-6 columns">Dolor</div>
							</div>
							<div class="itemData">
								<div class="small-12 medium-6 large-6 columns"><strong>Dirección:</strong></div>
								<div class="small-12 medium-6 large-6 columns">calle 1 No 2 # 3</div>
							</div>
							<div class="itemData">
								<div class="small-12 medium-6 large-6 columns"><strong>Oficio:</strong></div>
								<div class="small-12 medium-6 large-6 columns">Empleado</div>
							</div>
							<div class="itemData">
								<div class="small-12 medium-6 large-6 columns"><strong>Lugar de Votación:</strong></div>
								<div class="small-12 medium-6 large-6 columns">Colegio . . .</div>
							</div>
							<div class="itemData">
								<div class="small-12 medium-6 large-6 columns"><strong>¿Cuál es el tema de más te preocupa en tu municipio?</strong></div>
								<div class="small-12 medium-6 large-6 columns">Seguridad, salud, etc...</div>
							</div>
						</div>
					</div>

				</div>
				<div class="clear30"></div>
				<!-- /* * * * BTN * * * */ -->
				<div class="btnsInitBox" align="center">

					<div class="small-12 medium-2 large-2 columns" align="center">
						&nbsp;
					</div>
					<div class="small-12 medium-4 large-4 columns" align="center">
						<a href="registro_step1_precandidato.html" class="button_01">Volver</a>
					</div>
					<div class="small-12 medium-4 large-4 columns" align="center">
						<a href="final_precandidato.html" class="button_02">Registrar</a>
					</div>
					<div class="small-12 medium-2 large-2 columns" align="center">
						&nbsp;
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- FIN INIT -->
	<!-- - - - - - - -->

	<!-- BOTTOM SCRIPTS -->
	<script src="script/foundation.min.js"></script>
	<script src="js/main.js"></script>
	<script>$(document).foundation();</script>

</body>
</html>