<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="Description ">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<title>Registro Centro Democrático</title>
	<!-- CSS -->
	<link rel="stylesheet" href="css/vendor/normalize.css">
	<link rel="stylesheet" href="css/vendor/foundation.min.css">
	<link rel="stylesheet" href="css/main.css">
	<!-- TOP SCRIPTS -->
	<script src="script/jquery_2.1.0_min.js"></script>
	<script src="script/modernizr.js"></script>

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!-- - - - - - -->
	<script></script>
	<style></style>

</head>
<body>
	<!-- - - - - - - -->
	<!-- INIT -->
	<header>
		<div class="logo">
			<img src="images/logo.jpg" alt="">
		</div>
	</header>

	<div class="row">
		<div class="small-12 medium-12 large-12 columns">
			<div class="ContentForm">
				<div class="titlleBox">
					<h4>Registro Precandidatura</h4>
				</div>

				<div class="stepWrap2">
					<div class="step">
						<div class="stepNum">
							<img src="images/step.png" height="55" width="55" alt="">
						</div>
						<div class="stepTxt">Registro</div>
					</div>
					<div class="step">
						<div class="stepNum active">
							<img src="images/step.png" height="55" width="55" alt="">
						</div>
						<div class="stepTxt">Registro</div>
					</div>
					<div class="step">
						<div class="stepNum">
							<img src="images/step.png" height="55" width="55" alt="">
						</div>
						<div class="stepTxt">Confirmación de datos</div>
					</div>
					
				</div>
				
				<div class="FormWrap">

					<div class="row">
						<div class="small-12 medium-10 large-10 medium-offset-1 large-offset-1 columns">							
							<!-- INIT FORM -->
							<form action="" method="POST">
								<!-- Nivel de educación -->
								<div class="subTitleInput">
									<p>Nivel de educación</p>
								</div>

								<div class="row">
									<div class="small-12 medium-12 large-12 columns">
										<div class="row">
											<div class="small-12 medium-4 large-4 columns">
												<select name="profecion_id" id="">
													{#html options options=$profecion selected=$profecion_id#}										
												</select>
											</div>
										</div>
									</div>
								</div>
								<!-- Experiencia -->
								<div class="subTitleInput">
									<p>Experiencia</p>
								</div>

								<div class="row">
									<div class="small-12 medium-12 large-12 columns">
										<div class="row">
											<div class="small-12 medium-4 large-4 columns">
												<input type="radio" name="genero" value="hombre">
												<label for="">Sector Privado</label>
											</div>
											<div class="small-12 medium-4 large-4 columns">
												<input type="number" name="genero" value="hombre">
											</div>
											<div class="small-12 medium-4 large-4 columns">
												<select name="añosPrivado" id="">
													<option value="" disabled>Años</option>
												</select>
											</div>
										</div>
										<div class="row">
											<div class="small-12 medium-4 large-4 columns">
												<input type="radio" name="genero" value="hombre">
												<label for="">Sector Publico</label>
											</div>
											<div class="small-12 medium-4 large-4 columns">
												<input type="number" name="genero" value="hombre">
											</div>
											<div class="small-12 medium-4 large-4 columns">
												<select name="añosPrivado" id="">
													<option value="" disabled>Años</option>
												</select>
											</div>
										</div>
										<div class="row">
											<div class="small-12 medium-4 large-4 columns">
												<input type="radio" name="genero" value="hombre">
												<label for="">Independiente</label>
											</div>
											<div class="small-12 medium-4 large-4 columns">
												<input type="number" name="genero" value="hombre">
											</div>
											<div class="small-12 medium-4 large-4 columns">
												<select name="añosPrivado" id="">
													<option value="" disabled>Años</option>
												</select>
											</div>
										</div>
										<div class="row">
											<div class="small-12 medium-8 large-8 columns" style="text-align:right">
												<label for="">Total años de experiencia</label>
											</div>
											<div class="small-12 medium-4 large-4 columns" style="text-align:center">
												<p>6</p>
											</div>
										</div>
									</div>
								</div>
								<!-- Nivel de educación -->
								<div class="subTitleInput">
									<p>Cargo al que aspira:</p>
								</div>

								<div class="row">
									<div class="small-12 medium-12 large-12 columns">
										<div class="row">
											<div class="small-12 medium-12 large-12 columns">
												<select name="" id="">
													<option value="" disabled>Concejal</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<!-- Nivel de educación -->
								<div class="subTitleInput">
									<p>Cargo al que aspira:</p>
								</div>

								<div class="row">
									<div class="small-12 medium-12 large-12 columns">
										<div class="row">
											<div class="small-12 medium-6 large-6 columns">
												<select name="" id="">
													<option value="" disabled>Departamento</option>
												</select>
											</div>
											<div class="small-12 medium-6 large-6 columns">
												<select name="" id="">
													<option value="" disabled>Municipio</option>
												</select>
											</div>
										</div>
									</div>
								</div>

								<div class="clear30"></div>

								<div class="small-12 medium-2 large-2 columns" align="center">&nbsp;</div>
								<div class="small-12 medium-4 large-4 columns" align="center">
									<a href="#" class="button_01">Volver</a>
								</div>
								<div class="small-12 medium-4 large-4 columns" align="center">
									<a href="confirmReg_precandidato.html" class="button_02">Siguiente</a>
								</div>
								<div class="small-12 medium-2 large-2 columns" align="center">&nbsp;</div>


								<!-- * * * * * * * * * * * * * *  -->
							</form>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

	<!-- FIN INIT -->
	<!-- - - - - - - -->

	<!-- BOTTOM SCRIPTS -->
	<script src="script/foundation.min.js"></script>
	<script src="js/main.js"></script>
	<script>$(document).foundation();</script>

</body>
</html>